@import url('https://fonts.googleapis.com/css?family=Roboto');
$color_greay: rgb(223, 219, 219);
$color_blue: #4b98e0dd;
$color_red: #e4485ddd;
$color_purpure: #564da3dd;
$error_red: rgb(206, 108, 108);
$bg_blue: rgb(159, 161, 163);
$like: #e735a3dd;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// @font-face
// {
//     font-family: 'Roboto';
//     src: url('https://fonts.googleapis.com/css?family=Roboto');
// }

%flex-pareant-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

%contener-std {
    width: 80%;
    margin:  30px auto;
    padding: 10px; 
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 5px black;
}

%flex-pareant-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
}

%btn-h {
    width: 160px;
    padding: 5px 10px;
    border: white solid 1px;
    color: white;
    background: $color_red;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

%btn-h-h {
    border: $color_red solid 1px;
    color: $color_red;
    background: white;
}



//Обшие настройки страницы
.fa-heart:hover
{
    color: $color_red;
}

.btn_std_re
{
    @extend %btn-h-h;
    width: 160px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

#app {
    display: flex;
	flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1 0 auto;
    position: relative;
}

#header
{
    @extend %flex-pareant-row;
    justify-content: space-between;
    flex: 0 0 auto;
    margin: auto 0;
    margin-bottom: 10px;
    padding: 0 20px;
    background: black;
    box-shadow: 0 0 10px black;
}

#header *
{
    margin:  auto 0;
}

#header h1
{
    color: white;
}

.logo
{
    @extend %flex-pareant-col;
}
    

#footer
{
    @extend %flex-pareant-col;
    flex: 0 0 auto;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background: black;
    color: white;
    box-shadow: 0 0 10px black;
}
input[type="radio"], input[type="file"]
{
    display: none;
}
textarea {
    resize: none;
    width: 80%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px $color_blue;
}
input[type="text"], input[type="password"], textarea
{
    outline: none;
}
input[type="text"], input[type="password"]
{
    padding: 3px 5px;
    border-radius: 3px;
}

A:link { 
    text-decoration: none;
   } 
   A:visited { 
       text-decoration: none;
       color: $color_blue;
    } 
   A:active { text-decoration: none; }
   A:hover {
    cursor: pointer;
    color: $color_blue;
   } 
//Меню аунтификации


.auth-menu
{
    display: none;
}



.auth-warrper
{

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.auth-menu
{
    max-width: 400px;
    @extend %flex-pareant-col;
    
}

#auth-menu-1:checked ~ .auth,
#auth-menu-2:checked ~ .reg
{
    display: flex;
    margin: auto;
}

.auth-menu
{
    box-shadow: 0 0 10px $bg_blue;
    background: $bg_blue;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

form > *
{
    margin: 5px;
}

.btn_std
{
    @extend %btn-h;
    width: 160px;
}

.btn_std:hover 
{
    @extend %btn-h-h;
}



.error
{
    background: $error_red;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
}

.select_photo
{
    background: whitesmoke;
    border: solid 1px violet;
    border-radius: 40px;
    width: 200px;
    height: 200px;
}


.select_photo > img {
    // border-radius: 40px;
    max-width: 200px;
    max-height: 200px;
}

//Posts style
.post
{
    width: 80%;
    margin: auto;
}
.create-post {
    width: 80%;
    box-shadow: 10px 10px 10px black;
    border: black 2px solid;
    margin: 10px;
    padding: 5px;
    background: white;
    margin:  40px auto;
    border-radius: 5px;
}
.create-post > form
{
    @extend %flex-pareant-col;
}

.user-data
{
    @extend %flex-pareant-row;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-radius: 5px;
    margin: 5px;
}

.post-item
{
    width: 80%;
    margin:  30px auto;
    padding: 10px; 
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 5px black;
}

.avater-warpper
{
    background: white;
    // border: solid 1px violet;
    box-shadow: 0 0 10px white;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    margin-right: 20px;
}

.avatar
{
    max-width: 60px;
    max-height: 60px;
    margin: auto;
}
.post-content, .comment-content
{
    margin: 5px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 0 0 5px black;
}

.item-info
{
    margin: 5px;
    @extend %flex-pareant-row;
    justify-content: space-between;
}
.item-info p  i
{
    color: $color_blue;
    margin: 0 5px;
    cursor: pointer;
}
//Comment
.comment-item
{
    @extend %flex-pareant-row;
    margin: 5px;
}
.comment-item > .comment-data
{
    width: 80%;
}
.btn_min
{
    background: none;
    border: 1px;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    color: $color_blue;
    
}
.create-comment
{

}
.create-comment form
{
    @extend %flex-pareant-row;
    padding: 5px;
}
.create-comment form *
{
    margin: auto;
}
.create-comment form textarea
{
    height: 40px;
    width: 80%;
    margin: 0;
}
.item-info p  .red{
    color: $like;
    font-size: 50;

}
//Post style

//Message
.message-hidden
{
    width: 400px;
    text-align: center;
    border-radius: 30px;
    border: solid 1px cornflowerblue;
    background: white;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    align-items: center;
    margin-left: -241px;
    margin-top: -90;
}

.message-hidden *{
    margin:  20px auto;
    position: relative;
}

.message-hidden a {
    color: #fff;
}

.message-hidden i, .message-hidden p{
    color: $color_red;
    
}

.message-hidden i
{
    position: absolute;
    right: 15px;
    top: 10px;
}

.show{
    display: block;
}

//User data
.user-info
{
    @extend %flex-pareant-col;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px $bg_blue;
}

.head-avatar
{
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 0 10px $color_blue;
    border-radius: 5px;
    margin: 0;
}

.head-avatar > img
{
    max-width: 200px;
    max-height: 200px;
}

.user-info  p
{
    margin:  10px auto;
    font-weight: bold;
}
//User data

// .user-content
// {
//     @extend %flex-pareant-row;
// }

.menu
{
    margin:  10px auto;
}
.menu ul
{
    @extend %flex-pareant-row;
    text-decoration: none;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    max-width: 420px;
    height: 30px;
}
.menu ul li
{
    text-decoration: none;
    list-style-type: none;
    width: 120px;
    text-align: center;
    background: black;
    padding:  9px 9px;
    border: solid $color_red 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
    transition: all ease-in-out 0.9s;
    position: relative;
}
.menu ul li a{
    color: white;
}

.menu ul li:hover{
    box-shadow: inset 140px 0 0 0 $color_red;
    border: inset black 1px;
    color: $color_red;
}

.count
{
    @extend %flex-pareant-col;
    border-radius: 50%;
    // border: solid 1px black;
    background: $color_red;
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -15px;
    margin-left: 90px;
    font-size: 12px;
}

.count *
{
    margin: auto;
}
// .user-content .content
// {
//     width: 80%;
// }

//Friend

.friend, .friend-requests
{
    @extend %contener-std;
    
}

.friend h2, .friend-requests h2
{
    text-align: center;
    margin: 10px;
}

.friend-list-item
{
    @extend %flex-pareant-row;
    margin-bottom: 10px;
}

.friend-info
{
    border-radius: 5px;
    border: solid 1px black;
    width: 80%;
    padding: 10px;
    
}
